@charset "UTF-8";
/* Last Update: 31/08/2016 17: 00 ; */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

:after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

sub {
    position: relative;
    font-size: smaller;
    top: -5px;
    left: 1px;
}

blockquote {
    background-image: url(images/quote.png);
    background-repeat: no-repeat;
    background-size: 25px;
    padding-left: 35px;
    padding-top: 5px;
    /*font-family: 'VNF-Narziss';*/
    font-style: italic;
}

small {
    font-size: 85%;
}

img {
    max-width: 100%;
    height: auto;
}

/* == Globals == */
@font-face {
    font-family: 'VNF-Narziss';
    src: url("fonts/VNF-Narziss.eot?#iefix") format("embedded-opentype"), url("fonts/VNF-Narziss.woff") format("woff"), url("fonts/VNF-Narziss.ttf") format("truetype"), url("fonts/VNF-Narziss.svg#VNF-Narziss") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'iCielEffra';
    src: url("fonts/iCielEffra-Regular.eot");
    src: local("Ã¢ËœÂº"), url("fonts/iCielEffra-Regular.woff") format("woff"), url("fonts/iCielEffra-Regular.ttf") format("truetype"), url("fonts/iCielEffra-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Cambria, Helvetica, Arial, sans-serif;
    font-family: Cambria, Georgia, serif;
    font-size: 14px;
    line-height: 1.3;
    /*overflow: hidden;*/
}

.hidden {
    display: none !important;
}

.container {
    width: 90%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.container:before,
.container:after {
    display: table;
    content: "";
    clear: both;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    visibility: hidden;
}

.animated.slow {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

.animated.visible {
    visibility: visible;
}

.theme-light blockquote {
    background-image: url(images/quote-light.png);
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

.show-for-mobile {
    display: none;
}

.owl-theme .owl-dots .owl-dot span {
    width: 20px;
    height: 20px;
}

/* == Header == */
#header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
}

#logo {
    float: left;
    width: 140px;
}

#logo img {
    display: block;
}

.theme-light #logo {
    background-image: url(images/logo-transparent.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 5px;
}

.theme-light #logo img {
    visibility: hidden;
}

.btn-menu-mobile {
    display: none;
}

#navigation ul.menu.socilas {
    margin-top: 0;
    margin-left: 20px;
}

#navigation ul.menu.socilas li a {
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}

.menu-dark #navigation ul.menu.socilas li a img {
    visibility: hidden;
}

.menu-dark #navigation ul.menu.socilas li.fb a {
    background-image: url(images/CC-Facebook-Icon.png);
}

#navigation ul.menu {
    float: right;
    margin-top: 20px;
}

#navigation ul.menu li {
    display: block;
    float: left;
    margin-left: 45px;
}

#navigation ul.menu li:first-child {
    margin-left: 0;
}

#navigation ul.menu li a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    display: block;
    /*font-family: 'VNF-Narziss';
      filter: alpha(opacity=80);
      opacity: 0.8;*/
}

#navigation ul.menu li.active a {
    position: relative;
}

#navigation ul.menu li.active a:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 80%;
    left: 10%;
    bottom: 0;
    background: #000;
    filter: alpha(opacity=80);
    opacity: 0.8;
}

.menu-light #navigation ul.menu li a {
    color: #FFF;
}

.menu-light #navigation ul.menu li.active a:before {
    background: #FFF;
}

/* #Main */
#main > div {
    filter: alpha(opacity=100);
    opacity: 1 !important;
}

#main .section-panel {
    height: 100vh;
    position: relative;
    z-index: 20;
    overflow: hidden;
}

#main .section-panel .section-text {
    position: relative;
    height: -webkit-calc(100vh - 100px);
    height: calc(100vh - 100px);
    margin-top: 60px;
}

#main .section-panel.full-content .section-text,
#main .section-panel.full-content .section-text .text-content {
    height: 100vh;
    width: 100%;
    margin-top: 0;
}

#main .section-panel .section-table {
    display: table;
    table-layout: fixed;
}

#main .section-panel .section-table .text-content {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

#main .section-panel .section-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

#main .section-panel .section-background img {
    visibility: hidden;
}

#intro-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: 100%;
    z-index: 1;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: 1s opacity;
    transition: 1s opacity;
}

.headline {
    position: relative;
    z-index: 20;
}

/* section 1 */
#section-1 {
    padding: 0 5%;
}

.story-teaser .headline {
    width: 25%;
    position: absolute;
    left: 0;
    top: 10px;
}

.stories-block {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.stories-block .story-row {
    float: left;
    position: relative;
    bottom: 0;
    width: 20%;
}

.stories-block .story-row.story-2 {
    bottom: 40px;
}

.stories-block .story-row.story-3 {
    bottom: 120px;
}

.stories-block .story-row.story-4 {
    bottom: 120px;
}

.stories-block .story-row.story-5 {
    bottom: 200px;
}

.stories-block .story-row p {
    padding: 0 30px 0 5px;
    margin: 0 auto;
}

.stories-block .story-row > div img {
    width: 90%;
}

.stories-block .story-row.left p {
    padding-left: 0;
}

.stories-block .story-row.center p {
    padding-left: 25px;
    padding-right: 25px;
}

/* section 2 */
.full-carousel-block .owl-carousel .owl-stage-outer,
.full-carousel-block .owl-carousel .owl-stage-outer .owl-stage,
.full-carousel-block .owl-carousel .owl-stage-outer .owl-stage .owl-item,
.full-carousel-block .owl-carousel .owl-stage-outer .owl-stage .owl-item .item {
    height: 100vh;
}

.full-carousel-block .owl-carousel .item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.full-carousel-block .owl-carousel .item > img {
    visibility: hidden;
}

.full-carousel-block .owl-carousel .item > img.prdbg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    visibility: visible;
    opacity: 0;
}

.full-carousel-block .owl-carousel .item > img.prdbg.step-1 {
    z-index: 1;
}

.full-carousel-block .owl-carousel .item > img.prdbg.step-2 {
    z-index: 2;
}

.full-carousel-block .owl-carousel .item > img.prdbg.step-3 {
    z-index: 3;
}

.full-carousel-block .owl-carousel .item > img.prdbg.step-4 {
    z-index: 4;
}

.full-carousel-block .owl-carousel .item > img.prdbg.step-5 {
    z-index: 5;
}

.full-carousel-block .owl-carousel .item > img.prdbg.step-6 {
    z-index: 6;
}

.full-carousel-block .owl-carousel .item > img.prdbg.step-7 {
    z-index: 7;
}

.full-carousel-block .owl-carousel .item > img.prdbg.step-8 {
    z-index: 8;
}

.full-carousel-block .owl-carousel .item > img.prdbg.step-9 {
    z-index: 9;
}

.full-carousel-block .owl-carousel .item .caption {
    position: absolute;
    left: 19%;
    top: 120px;
    width: 21%;
    color: #FFF;
    z-index: 10;
}

.owl-carousel .item.prd-1 blockquote {
    background-image: url("images/quote-light.png");
}

.full-carousel-block .owl-carousel .item .caption.full {
    width: 100%;
    height: 100%;
    left: 15%;
}

.full-carousel-block .owl-carousel .item .caption img {
    max-width: 200px;
}

.full-carousel-block .owl-carousel .item .caption.full > * {
    float: left;
    width: 20%;
}

.full-carousel-block .owl-carousel .item.prd-2 .caption.full > * {
    bottom: 38%;
    max-width: 100%;
    position: absolute;
}

.full-carousel-block .owl-carousel .item .caption.full .headline {
    left: 35%;
    width: 200px;
    margin-left: -575px;
    bottom: 45%;
}

.full-carousel-block .owl-carousel .item .caption.full .blockquote {
    width: 125px;
    color: #000;
    bottom: 60%;
    left: 35%;
    margin-left: -350px;
    text-align: justify;
    background-image: url("images/quote.png") !important;
}

.full-carousel-block .owl-carousel .item .caption.full .prd-center {
    left: 35%;
    bottom: 38%;
    width: 236px;
    margin-left: -118px;
}

.full-carousel-block .owl-carousel .item.prd-3 {
    background-position: left center;
}

.full-carousel-block .owl-carousel .item.prd-3 .caption {
    left: 0;
    top: auto;
    bottom: 0;
}

.full-carousel-block .owl-carousel .item.prd-3 .caption .circle-365 {
    position: absolute;
    width: 33%;
    top: 50%;
    margin-top: -135px;
    text-align: center;
    left: 5%;
}

.full-carousel-block .owl-carousel .item.prd-3 .caption .circle-365 img {
    width: 125px;
    display: inline-block;
    margin: 0 10px;
}

.full-carousel-block .owl-carousel .item.prd-3 .caption .headline {
    position: absolute;
    right: 33%;
    max-width: 100%;
    width: 300px;
    bottom: 30%;
    left: auto;
    margin-left: 0;
}

.full-carousel-block .owl-carousel .item.prd-3 .caption .modle {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 33%;
    max-width: 100%;
}

.section-panel .owl-carousel .owl-controls .owl-nav > div {
    position: absolute;
    z-index: 90;
    filter: alpha(opacity=50);
    opacity: .5;
    width: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    top: 50%;
    margin-top: -24px;
    background: none;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-size: contain;
}

.section-panel .owl-carousel .owl-controls .owl-nav > div.owl-prev {
    background-image: url(images/left-icon.png);
    left: 5%;
}

.section-panel .owl-carousel .owl-controls .owl-nav > div.owl-next {
    background-image: url(images/right-icon.png);
    right: 5%;
}

.section-panel .owl-carousel .owl-controls .owl-nav > div.owl-prev:hover {
    background-image: url(images/left-icon.hover.png);
}

.section-panel .owl-carousel .owl-controls .owl-nav > div.owl-next:hover {
    background-image: url(images/right-icon.hover.png);
}

/* section 3 */
.webform-client > div {
    position: relative;
}

.webform-client .form-item {
    clear: both;
    margin: 20px 0 25px;
}

.webform-client .form-item > div {
    margin-top: 10px;
}

.webform-client .form-item > div.radio-list label {
    padding: 5px 0px;
}

.webform-client .form-item .form-description,
.webform-client .form-item label {
    display: block;
    font-size: 15px;
    padding: 10px 0px;
}

.webform-client .form-item .form-text {
    display: block;
    width: 100%;
    padding: 10px;
    max-width: 94%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #b9afa1;
    color: #FFF;
    -webkit-border-radius: 0;
    border-radius: 2px;
    font-size: 15px;
    overflow: hidden;
}

.webform-client .form-item .inline label {
    display: inline-block;
    font-size: 13px;
}

.webform-client .form-actions {
    text-align: center;
}

.webform-client .form-actions .webform-submit {
    background: transparent url("images/receive_now_bg.png") no-repeat scroll center center/contain;
    border: none;
    color: #000;
    padding: 0;
    line-height: 30px;
    width: 140px;
    text-transform: uppercase;
}

#webform-client-2,
#webform-client-1 {
    width: 340px;
    border: 1px solid #906e26;
    padding: 0;
    margin-top: 50px;
    float: right;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.2);
    margin-right: -45px;
}

#webform-client-1 > div {
    padding: 10px 25px 25px;
}

#webform-client-1.webform-client .form-actions .webform-submit {
    height: 50px;
    left: 50px;
    position: absolute;
    cursor: pointer;
    width: 230px;
    bottom: -25px;
}

#webform-client-1.webform-client .form-actions img {
    bottom: -115px;
    position: absolute;
    right: 15px;
    width: 40%;
}

#webform-client-2 {
    border: none;
    background: none;
}

#webform-client-2.webform-client .form-item {
    margin: 30px 0;
}

#webform-client-2.webform-client .form-actions {
    position: relative;
    margin-top: 60px;
}

#webform-client-2.webform-client .form-actions .webform-submit {
    width: 200px;
    font-size: 18px;
    display: block;
    line-height: 55px;
    margin: 0 auto;
}

#section-4 .text-content {
    overflow: hidden;
}

#section-4 .text-content .headline {
    width: 25%;
    min-height: 1px;
    float: left;
}

#section-4 .text-content .reviews-block {
    width: 75%;
    float: left;
    position: relative;
}

#section-4 .text-content .reviews-block .owl-nav .owl-prev {
    left: -50px;
}

#section-4 .text-content .reviews-block .owl-nav .owl-next {
    right: -50px;
}

#section-4 .text-content .reviews-block > div {
    padding-left: 50px;
    padding-right: 50px;
}

#section-4 .text-content .reviews-block .item {
    padding: 0 25px;
}

#section-4 .text-content .reviews-block .item blockquote {
    font-style: italic;
    font-weight: bold;
    margin-top: 10px;
    padding-right: 25px;
    background-image: url("images/quote.png") !important;
}

#section-4 .text-content .reviews-block .item blockquote h3 {
    text-transform: uppercase;
    margin-bottom: 3px;
}

#section-4 .text-content .reviews-block .item blockquote p {
    filter: alpha(opacity=50);
    opacity: .5;
}

.stores-block {
    width: 800px;
    min-width: 800px;
    max-width: 100%;
    margin: 0 auto;
    border: 3px solid #FFF;
    color: #FFF;
}

.stores-block .stores-block-content {
    padding: 30px 100px;
}

.stores-block a {
    color: #FFF;
}

.stores-block hr {
    border-color: #FFF;
    margin-bottom: 30px;
}

.congratulation-content {
    /*font-family: 'iCielEffra';
      color: #112065;*/
    font-size: 16px;
    margin: 0 auto;
    max-width: 100%;
    color: #fffccb;
}

.text-center.congratulation-content > div {
    padding: 30px 50px;
}

.text-center.congratulation-content p {
    line-height: 1.2;
    margin-bottom: 10px;
}

.text-center.congratulation-content .promocode {
    margin-top: 52px;
    color: white;
    font-size: 23px;
}

.text-center.congratulation-content .promocode p {
    /* padding: 2px; */
}

.congratulation-content .promocode p.code {
    font-size: 100px;
    letter-spacing: 15px;
    position: relative;
    top: -5px;
}

.congratulation-content .payment-method > span {
    margin-right: 50px;
}

.congratulation-content .payment-method label {
    line-height: 30px;
    display: inline-block;
    padding: 0 10px;
    text-transform: uppercase;
    margin: 0 10px;
}

.congratulation-content .payment-method label.checked {
    background: #000;
    color: #FFF;
}

.congratulation-content .payment-method label input {
    display: none;
}

.stores-list > div {
    clear: both;
    overflow: hidden;
    position: relative;
}

.stores-list > div label {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    font-size: 120%;
}

.stores-list > div ul {
    float: left;
    margin-left: 100px;
    list-style-type: none;
}

.stores-list > div ul li {
    line-height: 27px;
    text-align: left;
}

.stores-list > div ul li img {
    width: 22px;
    float: left;
    margin-right: 5px;
}

/* FOOTER */
#footer .audio {
    background: transparent url("images/HP-Button-Sound.png") no-repeat scroll center center/contain;
    cursor: pointer;
    display: block;
    float: right;
    height: 30px;
    width: 30px;
    position: fixed;
    bottom: 50px;
    right: 5%;
}

#footer .audio.mute {
    background-image: url("images/HP-Button-Mute.png");
}

/* == Footer == */
#footer {
    position: relative;
    z-index: 100;
}

#footer,
#footer > .container {
    height: 40px;
}

#footer .join-experience {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    background: #FFF;
    text-transform: uppercase;
    font-family: 'VNF-Narziss';
}

#footer .join-experience > div {
    width: 50%;
    float: left;
}

#footer .join-experience p {
    padding: 0 50px;
    line-height: 40px;
    letter-spacing: 3px;
    font-weight: bolder;
}

#footer .join-experience p.text-right {
    text-align: right;
    font-weight: bolder;
}

#footer .join-experience .btn-join {
    position: fixed;
    text-decoration: none;
    display: block;
    width: 70px;
    height: 40px;
    padding: 15px 0;
    -webkit-border-radius: 70px;
    border-radius: 70px;
    border: 10px solid #FFF;
    line-height: 20px;
    background: #000;
    color: #FFF;
    bottom: 0;
    left: 50%;
    margin-left: -45px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

#footer .join-experience .btn-join::before {
    content: " ";
    background-image: url(images/ExpandMore.png);
    background-size: 30px 30px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: -35px;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 30px;
    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
    -webkit-animation: bunnyHop 2s ease-out infinite;
    animation: bunnyHop 2s ease-out infinite;
}

#footer .join-experience .btn-join:hover {
    color: #000;
    background: #FFF;
    border-color: #000;
}

.theme-dark #footer .join-experience .btn-join::before {
    background-image: url(images/ExpandMore-dark.png);
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-20px);
    }
    60% {
        -webkit-transform: translateY(-10px);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    60% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

@-webkit-keyframes bunnyHop {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes bunnyHop {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@media screen and (max-width: 1600px) {
    .full-carousel-block .owl-carousel .item.prd-3 .caption .circle-365 img {
        width: 110px;
    }
}

@media screen and (max-width: 1500px) {
    #navigation ul.menu li {
        margin-left: 35px;
    }

    #navigation ul.menu li a {
        font-size: 15px;
    }

    #navigation ul.menu li {
        margin-left: 25px;
    }
}

@media screen and (max-width: 1400px) {
    .container {
        width: 98%;
    }

    .story-teaser .headline {
        width: 20%;
    }

    .story-teaser .headline {
        width: 22%;
    }

    #webform-client-2, #webform-client-1 {
        margin-top: 40px;
    }

    #section-3 .headline > img {
        width: 35%;
        top: 20px;
    }

    .full-carousel-block .owl-carousel .item.prd-1 .caption img {
        max-width: 175px;
    }

    .full-carousel-block .owl-carousel .item .caption.full .prd-center {
        margin-left: -95px;
        width: 190px;
    }

    .full-carousel-block .owl-carousel .item .caption.full .headline {
        width: 180px;
        bottom: 40%;
    }

    .full-carousel-block .owl-carousel .item.prd-3 .caption .circle-365 img {
        width: 95px;
    }
}

@media screen and (max-width: 1366px) {
    .story-teaser .headline {
        width: 20%;
    }

    .stories-block .story-row > div img {
        width: 75%;
    }

    #section-3 .headline > img {
        top: -10px;
    }

    #section-3 .headline > .product blockquote {
        position: relative;
        top: -50px;
    }
}

@media screen and (max-width: 1235px) {
    #navigation ul.menu li {
        margin-left: 15px;
    }
}

@media screen and (max-width: 1200px) {
    #introduction video {
        min-height: 100%;
        min-width: 100%;
        height: auto;
        width: auto;
    }

    #logo {
        width: 120px;
    }

    #navigation ul.menu li {
        margin-left: 8px;
    }

    #navigation ul.menu li a {
        font-size: 13px;
    }

    #navigation ul.menu.socilas li a img {
        width: 29px;
    }

    .story-teaser .headline {
        width: 30%;
    }

    #section-3 .headline {
        margin-top: 90px;
        margin-left: 50px;
    }

    #section-3 .headline > img {
        width: 25%;
    }

    #section-3 .headline > .product {
        margin-left: 25px;
    }

    #section-3 .headline > .product blockquote {
        width: 165px;
        position: relative;
        left: -35px;
    }

    .full-carousel-block .owl-carousel .item .caption img {
        max-width: 150px;
    }

    .stores-block .stores-block-content {
        padding: 30px 70px;
    }

    .full-carousel-block .owl-carousel .item .caption.full .headline {
        bottom: 50%;
        margin-left: -460px;
        width: 150px;
    }

    .full-carousel-block .owl-carousel .item .caption.full .blockquote {
        bottom: 57%;
        margin-left: -280px;
    }

    .full-carousel-block .owl-carousel .item .caption.full .prd-center {
        margin-left: -100px;
        width: 200px;
    }

    .full-carousel-block .owl-carousel .item.prd-3 .caption .circle-365 {
        left: 10%;
    }

    .full-carousel-block .owl-carousel .item.prd-3 .caption .circle-365 img {
        width: 85px;
        width: -webkit-calc(33% - 25px);
        width: calc(33% - 25px);
    }

    #webform-client-1 {
        margin-right: 5%;
    }

    /* Update-0209 */
    #logo {
        width: 94px;
        margin-left: -8px;
        margin-top: 12px;
    }

    .container-mobile {
        margin-top: 15px;
    }

    #main .section-panel .section-text {
        margin-top: 108px;
    }
}

@media screen and (max-width: 1025px) {
    #navigation ul.menu li {
        margin-left: 10px;
    }

    .ipad-device #navigation ul.menu li a {
        font-family: Helvetica, Arial, sans-serif;
    }

    .full-carousel-block .owl-carousel .item .caption.full .prd-center {
        margin-left: -76px;
        width: 150px;
    }
}

@media screen and (max-width: 1023px) {
    body {
        overflow: visible;
    }

    /*#intro-video,*/
    .show-for-desktop,
    .hide-for-mobile {
        display: none;
    }

    .show-for-mobile {
        display: block;
    }

    .section-panel.active .section-text {
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .btn-menu-mobile {
        display: block;
        width: 40px;
        height: 24px;
        background: url(images/btn-menu-dark.png);
        background-size: contain;
        background-repeat: no-repeat;
        padding: 0;
        margin: 0;
        margin-top: 15px;
        border: none;
        float: right;
        text-indent: -999px;
        overflow: hidden;
        cursor: pointer;
        outline: none;
    }

    .theme-light .btn-menu-mobile {
        background-image: url(images/btn-menu.png);
    }

    #navigation .close-button {
        cursor: pointer;
        height: 35px;
        left: 10px;
        position: absolute;
        top: 10px;
        width: 35px;
    }

    #navigation .close-button img {
        display: block;
    }

    #navigation {
        width: 300px;
        right: -300px;
        float: right;
        position: fixed;
        top: 0;
        background: #FFF;
        height: 100%;
    }

    #navigation ul.menu li {
        width: 100%;
        text-align: right;
        background: #FFF;
        margin: 0;
        border-bottom: 1px solid #000;
    }

    #navigation ul.menu li a {
        padding: 3px 15px 3px 5px;
        color: #000 !important;
        white-space: nowrap;
    }

    #navigation ul.menu li.active a:before {
        display: none;
    }

    #navigation ul.menu.socilas li {
        border: none;
    }

    #navigation ul.menu.socilas li a img {
        visibility: hidden;
    }

    #navigation ul.menu.socilas li.fb a {
        background-image: url(images/CC-Facebook-Icon.png);
    }

    #introduction .headline img {
        width: 40%;
        max-width: 200px;
    }

    #footer .join-experience {
        padding: 5px 0;
    }

    #footer .join-experience .btn-join::before {
        top: -20px;
        width: 20px;
        height: 20px;
        margin-left: -10px;
    }

    #footer .join-experience > div {
        width: 100%;
        float: left;
        padding: 0;
    }

    #footer .join-experience p {
        padding: 0 10px;
        line-height: 16px;
        text-align: left !important;
        font-size: 12px;
        letter-spacing: 1px;
    }

    #footer .join-experience .btn-join {
        border-width: 3px;
        left: auto;
        right: 3%;
        bottom: 10px;
    }

    .theme-dark #footer .join-experience {
        background: #000;
        color: #FFF;
    }

    .theme-dark #footer .join-experience .btn-join {
        background: #FFF;
        color: #000;
        border: 3px solid #000;
    }

    .story-teaser,
    .story-teaser .headline,
    .story-teaser .quote {
        width: 100%;
        margin: 0;
        overflow: hidden;
    }

    .story-teaser .headline {
        text-align: center;
        position: static;
        margin-bottom: 30px;
    }

    .story-teaser .headline img {
        width: 30%;
        min-width: 200px;
    }

    .story-teaser .quote {
        width: 90%;
        margin-left: 10%;
        position: relative;
        top: -10px;
        margin-bottom: 20px;
    }

    .story-teaser .quote blockquote {
        padding-top: 15px;
    }

    .stories-block-mobile .owl-carousel .owl-stage-outer {
        height: auto !important;
    }

    .stories-block-mobile .item > div {
        width: 400px;
        max-width: 100%;
        margin: 0 auto;
    }

    .stories-block-mobile .item .text,
    .stories-block-mobile .item img {
        width: 55%;
        float: left;
    }

    .stories-block-mobile .item .text {
        width: 100%;
        position: relative;
        z-index: 10;
    }

    .stories-block-mobile .item .text p {
        width: 100%;
        padding: 0;
        clear: both;
    }

    #main #section-1.section-panel .section-text {
        margin-top: 100px;
    }

    .stories-block-mobile .item .text .title-tag {
        width: 45%;
        position: static;
        margin-bottom: 10px;
        float: left;
        margin: 0;
    }

    .stories-block-mobile .item .text img {
        float: right;
        margin-top: -40px;
    }

    .stories-block-mobile .owl-dots {
        display: block !important;
    }

    #section-3 .section-background {
        background-image: url("images/untitled-2.jpg") !important;
    }

    #section-3 .section-text {
        background: none;
    }

    #section-3 .headline-wrap {
        overflow: hidden;
        margin-bottom: 55px;
        width: 100%;
    }

    #section-3 .headline {
        margin-top: 30px;
        margin-left: 30px;
        margin-bottom: 30px;
    }

    #section-3 .headline > .product {
        margin-left: 25px;
        width: -webkit-calc(75% - 55px);
        width: calc(75% - 55px);
        max-width: 450px;
    }

    #section-3 .headline > .product blockquote {
        position: static;
        margin-top: -50px;
    }

    #section-3 .section-text .text-content {
        margin-top: 10px;
        margin-bottom: 70px;
    }

    #section-3 .webform-client-wrap {
        width: 80%;
        margin: 17px auto;
        clear: both;
    }

    #webform-client-1 {
        float: none;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #section-4 .text-content .headline {
        width: 100%;
        margin-bottom: 10px;
        float: none;
        text-align: center;
    }

    #section-4 .text-content .headline img {
        width: 50%;
        max-width: 200px;
        margin-bottom: 30px;
    }

    #section-4 .text-content .reviews-block {
        width: 100%;
        float: none;
    }

    #section-4 .text-content .reviews-block .item > img {
        max-width: 250px;
        margin: 0 auto;
    }

    #section-4 .text-content .reviews-block .owl-nav div {
        display: block !important;
    }

    .stores-block {
        width: -webkit-calc(100% - 6px);
        width: calc(100% - 6px);
        min-width: 10px;
    }

    .stores-block .stores-block-content {
        padding: 30px;
    }

    .stores-block .stores-block-content .headline img {
        width: 60%;
    }

    .stores-block .stores-block-content hr,
    .stores-list {
        margin-top: 20px;
    }

    .flash-sale-page .btn-menu-mobile,
    .congratulation-page .btn-menu-mobile {
        background-image: url(images/btn-menu-dark.png);
    }

    #section-6 .section-background {
        background-image: url("images/untitled-7.png") !important;
        background-size: contain !important;
        background-position: bottom !important;
        background-repeat: no-repeat;
        filter: alpha(opacity=30);
        opacity: 0.3;
    }

    #section-6 .text-content .headline {
        width: 50%;
        margin: 0 auto;
        max-width: 180px;
    }

    #webform-client-2 {
        color: #000;
        float: none;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    #webform-client-2.webform-client .form-actions .webform-submit {
        margin-bottom: 10px;
    }

    #webform-client-2.webform-client .form-item .form-description,
    #webform-client-2.webform-client .form-item label {
        font-size: 14px;
    }

    #section-7 .section-background {
        background-size: contain !important;
        background-position: bottom !important;
        background-repeat: no-repeat;
    }

    .congratulation-content {
        background: none;
        background: none;
        padding: 0;
    }

    .text-center.congratulation-content > div {
        padding: 10px;
    }

    .congratulation-content .payment-method > span {
        display: block;
        margin: 0;
        text-align: center;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 768px) {
    .stores-list > div {
        margin: 10px 0;
    }

    .stores-list > div label {
        position: static;
        text-align: left;
        display: block;
        margin-bottom: 5px;
    }

    .stores-list > div ul {
        float: none;
        margin-left: 0;
    }

    .stories-block-mobile .item {
        padding: 0 10px;
    }

    #section-3 .headline > .product blockquote {
        margin-top: -30px;
    }

    .congratulation-content .promocode p.code {
        letter-spacing: 5px;
        font-size: 70px;
    }

    /* Update-0209 */
    .text-content > .pull-left {
        display: none !important;
    }

    #section-3 .section-background {
        background-image: url("images/untitled-2mobile.jpg") !important;
    }

    .story-teaser .headline img {
        min-width: 150px;
    }

    #main #section-1.section-panel .section-text {
        margin-top: 80px;
    }

    .story-teaser .headline {
        margin-bottom: 15px;
    }

    #section-3 .section-text .text-content,
    #webform-client-1,
    #section-3 .webform-client-wrap {
        margin-top: 0;
        margin-bottom: 0;
    }

    #section-3 .webform-client-wrap {
        min-width: 290px;
    }

    #webform-client-1 {
        background: none;
        border: 1px solid #FFF;
    }

    #webform-client-1 > div {
        padding: 15px;
    }

    #webform-client-1.webform-client .form-actions img {
        display: none;
    }

    #main #section-5.section-panel .section-table .text-content,
    #main #section-5.section-panel .section-text,
    #main #section-4.section-panel .section-table .text-content,
    #main #section-4.section-panel .section-text {
        display: block;
    }

    .stores-block .stores-block-content .headline img {
        width: 120px;
    }

    .stores-block .stores-block-content hr {
        margin: 10px 0;
    }

    .stores-block .stores-block-content {
        padding: 15px;
    }

    .stores-list > div ul li {
        font-size: 12px;
        line-height: 18px;
    }

    .stores-list > div ul li img {
        width: 16px;
    }

    #main #section-3.section-panel .section-text {
        margin-top: 90px;
    }

    #main #section-3.section-panel .section-text #webform-client-1 {
        zoom: 95%;
    }
}

@media screen and (max-width: 640px) {
    #section-4 .text-content .headline img {
        max-width: 120px;
        margin-bottom: 10px;
    }

    #section-4 .text-content .reviews-block .item {
        padding: 0 5px;
    }

    #section-4 .text-content .reviews-block .item > img {
        max-width: 100px;
    }

    #main #section-3.section-panel .section-text #webform-client-1 {
        zoom: 80%;
    }
}

@media screen and (max-width: 370px) {
    #webform-client-2 {
        max-width: 300px;
    }
}

.fs-hvr-float-shadow:hover {
    -webkit-transform: translateY(-5px) !important;
    -ms-transform: translateY(-5px) !important;
    transform: translateY(-5px) !important;
}

.form-item hr {
    width: 100px;
    margin: 10px auto;
}

.message h2 {
    font-size: 80px;
}

.message h3 {
    font-size: 50px;
}

.code {
    font-size: 80px;
    border: 2px solid;
    width: 510px;
    margin: auto;
    padding: 5px 0;
    margin-top: 50px;
}

.date {
    padding: 13px;
    color: white;
}

/* Custom section 3 */
#section-3 {
    background: url(./images/landing_page_bg_01.png);
    background-size: cover;
    background-position: bottom center;
}

@media (max-width: 1024px) {
    #section-3 .section-background {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

#section-3 #webform-client-1 {
    margin-top: 0px;
    margin-right: -10px;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

@media (min-width: 1500px) {
    #section-3 #webform-client-1 {
        margin-top: 30px;
    }
}

@media (max-width: 1280px) {
    #section-3 #webform-client-1 {
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
        margin-top: -40px;
    }
}

@media (max-width: 1280px) and (max-height: 700px) {
    #section-3 #webform-client-1 {
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
        margin-top: -50px;
    }
}

@media (max-width: 1191px) {
    #section-3 #webform-client-1 {
        -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
        transform: scale(0.7);
        margin-right: -40px;
        margin-top: -100px;
    }
}

@media (max-width: 1191px) and (max-height: 700px) {
    #section-3 #webform-client-1 {
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
        margin-top: -75px;
    }
}

@media (max-width: 1191px) and (max-height: 700px) and (max-height: 680px) {
    #section-3 #webform-client-1 {
        -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
        transform: scale(0.7);
        margin-top: -80px;
    }
}

@media (max-width: 1024px) {
    #section-3 #webform-client-1 {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        position: relative;
        border: 0px;
        width: 100%;
        margin: -50px 0px 0px 0px;
    }

    #section-3 #webform-client-1 .form-item:first-child > hr {
        display: none;
    }

    #section-3 #webform-client-1 .form-item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        padding: 2px 0px;
        margin: 5px 0px;
    }

    #section-3 #webform-client-1 .form-item-tracking {
        display: none;
    }

    #section-3 #webform-client-1 .form-item label {
        padding: 0px;
        margin-right: 10px;
    }

    #section-3 #webform-client-1 .form-item input {
        width: auto;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    #section-3 #webform-client-1 .form-actions {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    #section-3 #webform-client-1 .form-actions .webform-submit {
        position: relative;
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        left: 0px;
    }
}

@media (max-width: 1024px) and (max-width: 1024px) and (min-height: 768px) {
    #section-3 #webform-client-1 .form-actions .webform-submit {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

#section-3 .section-background img {
    visibility: inherit !important;
}

#section-3 .headline-voucher {
    position: absolute;
    width: 265px;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    top: 55%;
    left: 1.2%;
}

@media (min-width: 1500px) {
    #section-3 .headline-voucher {
        left: 4%;
        top: 65%;
    }
}

@media (max-width: 1440px) {
    #section-3 .headline-voucher {
        left: 25px;
        top: 400px;
    }
}

@media (max-width: 1280px) {
    #section-3 .headline-voucher {
        left: 55px;
        top: 380px;
    }
}

@media (max-width: 1191px) {
    #section-3 .headline-voucher {
        left: 40px;
        top: 300px;
    }
}

@media (max-width: 1100px) {
    #section-3 .headline-voucher {
        left: 30px;
        top: 270px;
    }
}

@media (max-width: 1024px) {
    #section-3 .headline-voucher {
        display: none;
    }
}

#section-3.section-panel .owl-carousel .owl-controls .owl-nav > div.owl-prev {
    left: -5px;
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    top: 35% !important;
}

#section-3.section-panel .owl-carousel .owl-controls .owl-nav > div.owl-next {
    right: -5px;
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    top: 35% !important;
}

#section-3 .group {
    width: 778px;
    position: absolute;
    left: 18%;
    color: white;
    top: -50px;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

@media (min-width: 1500px) {
    #section-3 .group {
        left: 25%;
        top: 0px;
    }
}

@media (max-width: 1280px) {
    #section-3 .group {
        -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
        transform: scale(0.7);
        top: -80px;
    }
}

@media (max-width: 1280px) and (max-height: 700px) {
    #section-3 .group {
        -webkit-transform: scale(0.65);
        -ms-transform: scale(0.65);
        transform: scale(0.65);
    }
}

@media (max-width: 1191px) {
    #section-3 .group {
        -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
        transform: scale(0.6);
        top: -120px;
        left: 14%;
    }
}

@media (max-width: 1191px) and (max-height: 700px) {
    #section-3 .group {
        -webkit-transform: scale(0.65);
        -ms-transform: scale(0.65);
        transform: scale(0.65);
    }
}

@media (max-width: 1024px) {
    #section-3 .group {
        position: relative;
        left: 0px;
        width: 100%;
        top: 0px;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        margin-top: 80px;
    }
}

@media (max-width: 1024px) and (min-height: 768px) {
    #section-3 .group {
        margin-top: 160px;
    }
}

@media (max-width: 1024px) and (min-height: 1000px) {
    #section-3 .group {
        margin-top: 260px;
    }
}

#section-3 .icon-group, #section-3 .icon-group > img {
    width: 175px;
    height: auto;
    margin: auto;
    text-align: center;
    font-size: 17px;
    display: block;
}

#section-3 .icon-group > span, #section-3 .icon-group > img > span {
    font-style: italic;
}

@media (max-width: 1024px) {
    #section-3 .icon-group, #section-3 .icon-group > img {
        width: 75%;
    }

    #section-3 .icon-group > span, #section-3 .icon-group > img > span {
        font-size: 12px;
    }
}

#section-3 .icon-group-1, #section-3 .icon-group-2, #section-3 .icon-group-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 8px 0;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

#section-3 .icon-group-2 {
    padding: 0px 120px;
}

#section-3 .headline > img {
    float: left;
    width: 40%;
    position: relative;
    top: 90px;
}

#section-3 .headline > .product {
    float: left;
    margin-left: 25px;
}

#section-3 .headline > .product blockquote {
    width: 165px;
    color: #FFF;
}

#section-7 .section-background {
    background-size: cover !important;
    background-position: bottom !important;
    background-repeat: no-repeat;
    background: url("./images/ending_page_bg.png") !important;
}

#main #section-7 .section-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    margin-top: 0px !important;
}

@media (max-width: 450px) {
    #section-7 .code {
        width: 80%;
        font-size: 50px;
    }

    #section-7 .section-background {
        background: url("./images/ending-page-mobile-bg.png") !important;
    }
}
